
  
  h1{
    text-align: center;

  }
  h3{
    text-align: center;

  }
  body{
    background-color: black;
    color: aliceblue;
  }
  p{
    color: aliceblue;
    text-align: center;
  }